.button {
   background-color: var(--blue1);
   font-size: 15px;
   font-weight: 600;
   color: var(--white);
   padding: 20px 25px;
   overflow: hidden;
   transition: all 0.3s ease;
   border-radius: 15px;
}

.hollow {
   display: inline-block;
   $borderWidth: 3px;

   transition-duration: 0.5s;
   transition-property: all;

   transform: translateZ(0);
   box-shadow: inset 0 0 0 $borderWidth var(--blue1), 0 0 1px rgba(0, 0, 0, 0);

   &:hover {
      background: none;
      color: var(--blue1);
   }
}

.buttonPurple {
   background-color: var(--purple1);
   font-size: 15px;
   font-weight: 600;
   color: var(--white);
   padding: 20px 25px;
   overflow: hidden;
   transition: all 0.3s ease;
   border-radius: 15px;
}

.hollowPurple {
   display: inline-block;
   $borderWidth: 3px;

   transition-duration: 0.5s;
   transition-property: all;

   transform: translateZ(0);
   box-shadow: inset 0 0 0 $borderWidth var(--purple1), 0 0 1px rgba(0, 0, 0, 0);

   &:hover {
      background: none;
      color: var(--purple1);
   }
}
