.container {
   background-color: #204055;
   color: var(--white);
   font-size: 14px;
   font-weight: 400;
   width: 60px;
   height: 30px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
